@import './variables/colors.scss';

@import './partials/font.scss';
@import './partials/normalize.scss';
@import './partials/header.scss';
@import './partials/preloader.scss';
@import './partials/video.scss';
@import './partials/media.scss';


body {
  &.article {
    .article {
        border-bottom: 1px solid $white;
    }
  }

  &.video {
    .video {
        border-bottom: 1px solid $white;
    }
  }

  font-family: "Arimo";

  section {
      width: 100%;
      max-width: 720px;
      margin: 182px auto;
  }

  section, div {
    transition: all 0.5s ease;
  }


  .loader-content {
    opacity: 0; 
  }
}
