@import './variables/colors.scss';

@import './partials/font.scss';
@import './partials/normalize.scss';
@import './partials/header.scss';
@import './partials/preloader.scss';
@import './partials/video.scss';
@import './partials/article.scss';


body {
  font-family: "Arimo";

  section {
      width: 100%;
      max-width: 720px;
      margin: 100px auto;
  }

}